
.content{
    transition: padding .2s;
    height: calc(100vh - 56px);
    background-color: #f5f8f9;
}
.flex-content{
    height: 100%;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.content-view{
    min-width: 500px;
    min-height: 500px;
    height: 100%;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
