.con-ms-popup-update{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.ms-popup--background{
    width: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
    opacity: 1;
}
.con-ms-popup-update .ms-popup-update{
    position: relative;
    z-index: 100;
    max-width: calc(100% - 30px);
    max-height: calc(100% - 4px);
    border-radius: 6px;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 10%);
    animation: rebound .3s;
    overflow: visible;
}
.popup-updateuser{
    height: 53px;
}
.ms-popup-update{
    background: rgb(255, 255, 255);
    width: 600px;
    min-width: 500px;
    height: auto;
}
.flex-col {
    flex-direction: column!important;
}
.flex{
    display: flex;
}
.ms-popup--header-update{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px 8px;
    position: relative;
    height: 53px;
}
.ms-popup--header-update{
    padding: 24px;
    padding-bottom: 0;
    padding-top: 18px!important;
    min-height: 53px!important;
}
.ms-popup--title{
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    overflow: visible;
    min-height: 29px!important;
}
h2 {
    font-size: 20px;
    letter-spacing: .384px!important;
    color: var(--text-primary-color);
    font-weight: 500;
}
.title-popup{
    letter-spacing: 0.576px;
    font-size: 24px;
    color: rgb(33, 33, 33);
}
.ms-popup--close-root{
    position: relative;
    right: -8px;
}
.items-center{
    align-items: center!important;
}
.justify-between {
    justify-content: space-between!important;
}
.ms-popup--close{
    position: relative;
    cursor: pointer;
    font-size: 24px;
}
.btn-icon-1 {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    width: 36px!important;
    height: 36px!important;
    border-radius: 50%!important;
    border: none!important;
    outline: none!important;
}
i{
    display: block;
}
.mi-close-2{
    background-color: var(--icon-deault-color)!important;
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(../../assets/img/Icon.de5bb0db.svg);
    mask-repeat: no-repeat;
    -webkit-mask-position: -216px -24px;
}
.ms-popup--close {
    position: relative;
    cursor: pointer;
    font-size: 24px;
}
.update-content{
    overflow: auto;
    height: calc(100% - 60px);
    padding: 24px;
}

.items-center{
    align-items: center !important;
}
.m-r-8{
    margin-right: 8px;
}
body .avatar-update img {
    border: 1px solid var(--border-color);
    border-radius: 50%;
}

.m-l-4 {
    margin-left: 4px!important;
}
.m-b-4 {
    margin-bottom: 4px!important;
}
.m-t-4 {
    margin-top: 4px!important;
}
.bold {
    font-weight: 700;
}
.font-20 {
    font-size: 20px!important;
}
label {
    text-align: left;
    display: flex;
    margin-bottom: 4px;
    outline: none;
    cursor: default;
}
.title-name{
    margin-top: -5px;
}
.m-l-0{
    margin-left: 0%;
    width: 50%;
}
body{
    color: #1f1f20;
}
.role{
    margin: 0px !important;
    color: rgb(27, 28, 30) !important;
    padding-right: 2px;
}
.required-update {
    padding-left: 2px;
    float: inherit;
    color: #e54848;
}
.ms-row-role{
    display: flex;
    width: 100%;
    line-height: 35px;
    text-indent: 0px;
    padding: 0px;
    margin-bottom: 16px;
}
.ms-row {
    clear: both;
    flex-flow: wrap;
}
.ms-col {
    float: left;
}
.container-update{
    position: relative;
    padding: 1px 0 0 32px;
    cursor: pointer;
    user-select: none;
    height: 100%;
}
.ms-col label {
    color: #212121;
}
label{
    text-align: left!important;
    display: flex!important;
    align-items: center!important;
}
.ms-checkbox .ms-checkbox--input{
    height: inherit;
}
.ms-checkbox--input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
}
/* input[type="checkbox" i] {
    background-color: initial;
    appearance: auto;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
} */
/* .ms-checkbox .checkmark{
    
} */
.checkmark{
    top: 0;
    position: absolute;
    left: 0;
    height: 26px !important;
    width: 22px !important;
}
.icon-square-check-primary{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(../../assets/img/Icon_process.1401a69c.svg);
    mask-repeat: no-repeat;
    -webkit-mask-position: -512px 2px;
    background-color: var(--primary)!important;
}
.con-slot-label{
    text-overflow: ellipsis!important;
    display: -webkit-box!important;
    -webkit-box-orient: vertical!important;
    font-weight: 400;
}
.con-slot-label{
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}
.borderFooter{
    border-top: 1px solid var(--border-color);
    height: 60px;
}
.ms-popup--footer{
    display: flex;
    justify-content: flex-end;
    background: #f2f2f2;
    padding: 12px 24px;
    border-radius: 0 0 8px 8px;

}
.flex-footer{
    margin-right:12px;
}